@import './smart-grid';

footer {
    padding: 50px 0;
    .wrapper {
        @include sm-block {
            justify-content: center;
        }
    }

    .left {
        @include sm-block {
            order: 2;
        }
        .title-primary,
        .title-tertiary {
            text-align: left;
        }

        .title-tertiary {
            margin-bottom: 80px;
        }

        .contacts {
            .title-primary {
                margin-bottom: 50px;
            }
        }

        .fields {
            margin-bottom: 32px;
            align-items: center;
            flex-wrap: nowrap;

            &:last-of-type {
                margin-bottom: 0;
            }
            .icon {
                width: 35px;
                margin-right: 30px;
                text-align: center;
                flex-shrink: 0;
            }
            .content p {
                font-size: 16px;
                color: #141414;

                a {
                    color: #141414;
                }
            }
        }
    }

    .right {
        @include sm-block {
            order: 1;
            margin-bottom: 30px;
        }
    }
}