@import './smart-grid';

header {
    min-height: 100vh;
    background: url(../imgs/main-header-bg.png) no-repeat center center;
    background-size: cover;
    padding-top: 10vh;
    box-sizing: border-box;

    @include sm-block {
        padding: 70px 0;
        background: #fff;
        min-height: 50vh;
    }

    .header-content {
        .download-presentation {
            margin-top: 8vh;

            @include md-block {
                margin-top: 3vh;
            }

            @include sm-block {
                margin-top: 15px;
            }
        }

        @include sm-block {
            text-align: center;
        }
    }
}