@import './smart-grid';

header {
    min-height: 100vh;
    background: url(../imgs/main-header-bg.png) no-repeat center center;
    background-size: cover;
    padding-top: 10vh;
    box-sizing: border-box;

    @include sm-block {
        padding: 70px 0;
        background: #fff;
        min-height: 50vh;
    }

    .header-content {
        .page-title {
            color: #141414;
            line-height: 72px;
            font-size: 60px;
            text-transform: uppercase;
            font-weight: bolder;
            margin-top: 5vh;

            @include md-block {
                font-size: 46px;
                line-height: 1.2;
            }

            @include sm-block {
                font-size: 35px;
            }

            @include xs-block {
                font-size: 23px;
            }
        }

        .title-secondary {
            margin-top: 3vh;

            @include sm-block {
                font-size: 20px;
                line-height: 1.2;
                margin-top: 30px;
            }

            @include xs-block {
                font-size: 18px;
            }
        }

        .download-presentation {
            margin-top: 8vh;

            @include md-block {
                margin-top: 3vh;
            }

            @include sm-block {
                margin-top: 15px;
            }
        }

        @include sm-block {
            text-align: center;
        }
    }
}