main {
  padding: 100px 0;
  color: #141414;
}

@media screen and (max-width: 768px) {
  main {
    padding: 20px 0;
  }
}

.presentation {
  margin: 50px 0;
}

.presentation .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.presentation .title-primary {
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .presentation .title-primary {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .presentation .title-primary {
    margin-bottom: 20px;
  }
}

.presentation .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  max-width: 350px;
  text-align: center;
  border-radius: 10px;
  padding: 30px 20px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 10px #fff, inset 0 0 0 11px #e8e8e8;
          box-shadow: inset 0 0 0 10px #fff, inset 0 0 0 11px #e8e8e8;
}

@media screen and (max-width: 768px) {
  .presentation .item {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .presentation .item {
    width: calc(100% - 30px);
  }
}

.presentation .item:hover {
  -webkit-box-shadow: inset 0 0 0 10px #fff, inset 0 0 0 11px #e8e8e8, 0 20px 60px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 10px #fff, inset 0 0 0 11px #e8e8e8, 0 20px 60px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.presentation .img i {
  font-size: 70px;
  display: inline-block;
  margin: 30px 0;
}

.presentation .title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
}

.presentation .text {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: .66px;
  margin-bottom: 15px;
}

.presentation .btn-primary {
  color: #62a0e6;
  background: transparent;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 576px) {
  .presentation .item {
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
  }
}

.complex-ad {
  margin: 50px;
}

.complex-ad .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  display: block;
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .complex-ad .item {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .complex-ad .item {
    width: calc(100% - 30px);
  }
}

.complex-ad .item:hover .heading {
  text-decoration: underline;
}

.complex-ad .item .heading {
  margin-bottom: 9px;
  -webkit-transition: -webkit-text-decoration .3s ease;
  transition: -webkit-text-decoration .3s ease;
  transition: text-decoration .3s ease;
  transition: text-decoration .3s ease, -webkit-text-decoration .3s ease;
}

.complex-ad .item .img img {
  border-radius: 8px;
}

.why-we {
  padding: 100px 0;
  text-align: center;
  background: url(../imgs/header-bg.png) no-repeat center center;
}

@media screen and (max-width: 576px) {
  .why-we {
    padding: 40px 0;
  }
}

.why-we .title-primary {
  color: #fff;
  margin-bottom: 18px;
}

.why-we .title-tertiary {
  max-width: 600px;
  margin: 0 auto;
  color: #9a9a9a;
  margin-bottom: 50px;
}

@media screen and (max-width: 576px) {
  .why-we .title-tertiary {
    font-size: 15px;
  }
}

.why-we .certificate {
  width: calc(29.16667% - 30px);
  color: #fff;
}

@media screen and (max-width: 576px) {
  .why-we .certificate {
    width: calc(100% - 30px);
  }
}

.why-we .certificate img {
  margin-bottom: 30px;
}

@media screen and (max-width: 576px) {
  .why-we .certificate img {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 576px) {
  .why-we .certificate {
    margin-bottom: 30px;
  }
}

.why-we .info {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.why-we .info p {
  color: #9a9a9a;
  max-width: 80%;
  text-align: left;
  font-size: 18px;
}

.about-us {
  padding: 80px 0;
}

.about-us .properties {
  text-align: center;
}

.about-us .properties .item {
  width: 300px;
}

@media screen and (max-width: 768px) {
  .about-us .properties .item {
    margin-bottom: 20px;
  }
}

.about-us .properties .item .primary-heading {
  color: #62a0e6;
  font-size: 48px;
  font-weight: 700;
}

.about-us .properties .item p {
  color: #aeaeae;
  font-size: 18px;
}

.about-us .aboutus-slider {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
}

.about-us .aboutus-slider .swiper-slide {
  text-align: center;
}

.about-us .info {
  max-width: 600px;
  margin: 30px auto;
  text-align: center;
  color: #141414;
  font-size: 18px;
}

.about-us .sm-banner {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  padding: 35px 65px;
  -webkit-box-shadow: 0 0 90px rgba(0, 0, 0, 0.1), inset 0 0 0 11px #fff, inset 0 0 0 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 90px rgba(0, 0, 0, 0.1), inset 0 0 0 11px #fff, inset 0 0 0 12px rgba(0, 0, 0, 0.1);
  position: relative;
}

@media screen and (max-width: 768px) {
  .about-us .sm-banner {
    text-align: center;
    padding: 30px 10px;
  }
}

.about-us .sm-banner p {
  color: #141414;
  font-size: 18px;
}

.about-us .sm-banner .pencil {
  position: absolute;
  top: 50%;
  right: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .about-us .sm-banner .pencil {
    display: none;
  }
}

.projects img {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.projects .row-inner {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects .item {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.projects .item .title {
  min-height: 59px;
}

@media screen and (max-width: 768px) {
  .projects .item .title {
    min-height: auto;
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.projects .item:hover {
  -webkit-box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
}

.clients .swiper-slide {
  text-align: center;
}

.clients .swiper-button-prev,
.clients .swiper-button-next {
  background: none;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .clients .swiper-button-prev,
  .clients .swiper-button-next {
    width: 30px;
    height: 30px;
  }
}

.service-info {
  background: #fff;
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 50px 0;
}

.service-info .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  text-align: center;
  padding: 30px;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .service-info .item {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .service-info .item {
    width: calc(100% - 30px);
  }
}

.service-info .item .heading {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .service-info .item .heading {
    font-size: 22px;
  }
}

.service-info .item .icon {
  margin: 20px 0;
  color: #62a0e6;
  font-size: 45px;
}

.service-info .item .text {
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .service-info .item .text {
    font-size: 17px;
  }
}

.with-hand {
  position: relative;
}

.with-hand .hand {
  position: relative;
  z-index: 10;
}

.with-hand .hand img {
  position: absolute;
  bottom: 100%;
  right: 0%;
}

@media screen and (max-width: 1024px) {
  .with-hand .hand img {
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .with-hand .hand {
    display: none;
  }
}

.with-hand .service-info {
  position: relative;
  z-index: 50;
}

.slider-big {
  padding: 40px 0;
}

.advantages {
  padding: 80px 0;
}

@media only screen and (max-width: 768px) {
  .advantages {
    padding: 60px 0;
  }
}

@media only screen and (max-width: 768px) {
  .advantages {
    padding: 30px 0;
  }
}

.advantages .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantages .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  text-align: center;
  margin-bottom: 30px;
  max-width: 300px;
}

@media screen and (max-width: 768px) {
  .advantages .item {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .advantages .item {
    width: calc(100% - 30px);
  }
}

.advantages .item .icon {
  margin-bottom: 30px;
}

.advantages .item .heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.advantages .item .text {
  color: #838282;
  font-size: 16px;
  line-height: 1.4;
}

.banner-accordion {
  padding: 80px 0;
  background: url(../imgs/banner-bg.png) no-repeat center center;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.6);
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .banner-accordion {
    padding: 60px 0;
  }
}

@media only screen and (max-width: 768px) {
  .banner-accordion {
    padding: 30px 0;
  }
}

.accordion {
  max-width: 700px;
  margin: 0 auto;
}

.accordion .item {
  margin: 20px 0;
}

.accordion .item .checkbox {
  display: none;
  visibility: hidden;
}

.accordion .item .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.accordion .item .check-icon {
  width: 50px;
  height: 50px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #62a0e6;
  font-size: 36px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

@media screen and (max-width: 576px) {
  .accordion .item .check-icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    font-size: 30px;
  }
}

.accordion .item .check-icon span {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.accordion .item .check-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 22px;
}

@media screen and (max-width: 1024px) {
  .accordion .item .check-title {
    font-size: 19px;
  }
}

@media screen and (max-width: 576px) {
  .accordion .item .check-title {
    font-size: 15px;
  }
}

.accordion .item .text {
  text-align: center;
  font-size: 0;
  opacity: 0;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  padding: 0;
  letter-spacing: 1px;
}

.accordion .item .checkbox:checked ~ .text {
  font-size: 16px;
  padding: 30px 0;
  opacity: 1;
}

.accordion .item .checkbox:checked ~ .label .check-icon {
  background-color: #dd5f5f;
}

.accordion .item .checkbox:checked ~ .label .check-icon span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  padding: 30px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 0 10px #fff, inset 0 0 0 11px #e8e8e8, 0 20px 60px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 10px #fff, inset 0 0 0 11px #e8e8e8, 0 20px 60px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .form {
    padding: 21px;
  }
}

.form .info {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .form .info {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

.form-input {
  width: 100%;
  border: 0;
  border-top: 3px solid #e9e9e9;
  border-radius: 5px;
  background-color: #f6f6f6;
  padding: 24px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .form-input {
    padding: 12px 19px;
  }
}

.form .ps {
  margin-top: 10spx;
}

.form-submit {
  border: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .form-submit {
    padding: 15px 0;
  }
}

.clients-forever {
  padding: 80px 0;
}

@media only screen and (max-width: 768px) {
  .clients-forever {
    padding: 60px 0;
  }
}

@media only screen and (max-width: 768px) {
  .clients-forever {
    padding: 30px 0;
  }
}

.clients-forever .row-inner {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.clients-forever .form {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.clients-forever .content .title-primary {
  text-align: left;
}

@media screen and (max-width: 576px) {
  .clients-forever .content .title-primary {
    text-align: center;
  }
}

.clients-forever .content .title-secondary {
  line-height: 1.2;
  margin-bottom: 20px;
}

.clients-forever .content .ps {
  margin-bottom: 30px;
}

.clients-forever .content del {
  color: #dd5f5f;
  white-space: nowrap;
  font-size: 15px;
}

.clients-forever .content .price {
  font-size: 36px;
}

@media screen and (max-width: 576px) {
  .clients-forever .content .price {
    font-size: 18px;
  }
}

.clients-forever .content .paragraph {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0;
}

@media screen and (max-width: 576px) {
  .clients-forever .content .paragraph {
    font-size: 14px;
  }
}

.team {
  padding: 80px 0;
  background-color: #f6f6f6;
}

@media only screen and (max-width: 768px) {
  .team {
    padding: 60px 0;
  }
}

@media only screen and (max-width: 768px) {
  .team {
    padding: 30px 0;
  }
}

.team .row {
  margin-top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(29.16667% - 30px);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .team .item {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .team .item {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 768px) {
  .team .item {
    margin-bottom: 30px;
  }
}

.team .item .img {
  display: inline-block;
  position: relative;
  background: red;
  border-radius: 50%;
  margin-bottom: 30px;
}

.team .item .img:hover .post {
  width: 100%;
  height: 100%;
}

.team .item .img:hover .post-icon {
  visibility: hidden;
  opacity: 0;
}

.team .item .img:hover .post-text {
  visibility: visible;
  opacity: 1;
  font-size: 18px;
}

.team .item .img img {
  vertical-align: bottom;
}

.team .item .img .post {
  position: absolute;
  top: 0;
  right: 0;
  background: #62a0e6;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.team .item .img .post-icon {
  width: 100%;
}

.team .item .img .post-text {
  visibility: hidden;
  opacity: 0;
  font-size: 0px;
  font-weight: bold;
}

.team .item .img .post > * {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.team .item .name {
  font-size: 24px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 15px;
}

.team .item .info {
  color: #727272;
  font-size: 18px;
  font-weight: 400;
}

.price-list {
  padding: 80px 0;
}

@media only screen and (max-width: 768px) {
  .price-list {
    padding: 60px 0;
  }
}

@media only screen and (max-width: 768px) {
  .price-list {
    padding: 30px 0;
  }
}

.price-list .row {
  margin-top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.price-list .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 340px;
  min-width: 320px;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  -webkit-box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .price-list .item {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .price-list .item {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 1024px) {
  .price-list .item {
    margin-bottom: 30px;
  }
}

.price-list .item .css-padding {
  padding: 50px;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .price-list .item .css-padding {
    padding: 40px;
  }
}

@media screen and (max-width: 576px) {
  .price-list .item .css-padding {
    padding: 20px;
  }
}

.price-list .item .title {
  background-color: #62a0e6;
  padding: 20px 0;
  color: #ffffff;
  font-size: 24px;
  width: 100%;
}

.price-list .item .price {
  color: #141414;
  font-size: 30px;
  font-weight: bold;
}

.price-list .item .price sup {
  font-size: 15px;
}

.price-list .item .points {
  margin: 20px 0;
}

.price-list .item .points li {
  margin: 8px 0;
  color: #727272;
  font-size: 18px;
}

.price-list .item .btn-primary {
  margin-top: auto;
}
/*# sourceMappingURL=main.css.map */